<body>
  <!-- Page loader -->
  <div id="preloader"></div>
  <!-- header section start -->
  <header class="header">
    <div class="container inContainer">
      <div class="row">
        <div class="col-lg-3 col-md-5 col-6 wszystkieLoga">
          <div class="logo">
            <a href="#home"><img src="assets/img/logo2.png" class="dwaLogo" alt="logo" /></a>
            <a href="#home"><img src="assets/img/logo.png" class="dwaLogo" style="margin-left: 8px;" alt="logo" /></a>
          </div>
        </div>
        <div class="col-lg-9 col-md-7 col-6">
          <div class="responsive-menu"></div>
          <div class="mainmenu">
            <ul id="primary-menu">
              <li><a class="nav-link animations active" href="#home">Strona Główna</a></li>
              <li><a class="nav-link animations" href="#feature">O orliku</a></li>
              <li><a class="nav-link animations" href="#pricing">Harmonogram/Rezerwacja</a></li>
              <li><a class="nav-link animations" href="#team">Regulamin</a></li>
              <li><a class="nav-link animations" href="#blog">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header><!-- header section end -->

  <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-position="left" data-bleed="0"
    data-speed="0.3" data-natural-width="2880" data-natural-height="1800" data-image-src="assets/img/homeTest.jpg">
    <section class="hero-area" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-area-content">
              <h1 id="zapraszam">Orlik w Makowie zaprasza</h1>
              <p id="text1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
              <a id="button1" href="#" class="appao-btn">Google Play</a>
              <a id="button2" href="#" class="appao-btn">App Store</a>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="hand-mockup text-lg-left text-center" data-depth="0.7">
              <img id="hand" src="assets/img/hand-mockup.png" alt="Hand Mockup" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- about section start -->
  <section class="about-area ptb-90" id="feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sec-title">
            <h2 data-aos="zoom-out" data-aos-offset="0">Informacje<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p> -->
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12" data-aos="fade-up">
            <div class="single-about-box">
              <i class="icofont icofont-list"></i>
              <h4>Godziny otwarcia</h4>
              <p style="margin-bottom: 15px">( Dla sezonu wakacyjnego )</p>
              <table class="table" style="width: 70%; margin: 0 auto;">
                <thead>
                  <tr>
                    <th style="width: 33%" scope="col">Poniedziałek - Piątek</th>
                    <th style="width: 33%" scope="col">Sobota</th>
                    <th style="width: 33%" scope="col">Niedziela</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>17:00 - 22:00</td>
                    <td>18:00 - 21:00</td>
                    <td>19:00 - 22:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up">
          <div class="single-about-box">
            <i class="icofont icofont-info-square"></i>
            <h4>Informacje ogólne</h4>
            <p style="text-align: justify;">Obiekt posiada kilkanaście miejsc parkingowych. Przy obiekcie znajdują się przebieralnie dla sportowców obojga płci.</p>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up">
          <div class="single-about-box">
            <i class="icofont icofont-field"></i>
            <h4>Boisko piłkarskie</h4>
            <ol type="1" style="padding-left: 20px; text-align: justify;">
              <ul style="list-style: initial; font-size: 14px;">
                <li>wymiary boiska: 30,0m. x 62,0m,</li>
                <li>nawierzchnia syntetyczna typu "sztuczna trawa",</li>
                <li>ogrodzenie: siatka oraz piłkochwyty o wysokości 6 metrów,</li>
                <li>oświetlenie umożliwiające grę po zmroku.</li>
              </ul>
            </ol>
          </div>
        </div>
        <div class="col-lg-4" data-aos="fade-up">
          <div class="single-about-box">
            <i class="icofont icofont-basketball"></i>
            <h4>Boisko wielofunkcyjne</h4>
            <ol type="1" style="padding-left: 20px; text-align: justify;">
              <ul style="list-style: initial; font-size: 14px;">
                <li>wymiary boiska: 19,1m. x 32,1m,</li>
                <li>nawieszchnia tartanowa,</li>
                <li>możliwość gry w siatkówkę, koszykówkę oraz tenis,</li>
                <li>oświetlenie umożliwiające grę po zmroku.</li>
              </ul>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section><!-- about section end -->
  <!-- feature section start -->
  <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-bleed="0" data-speed="0.3"
    data-image-src="assets/img/harmongoram.jpg">
    <section class="pricing-area ptb-90" id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="sec-title">
              <h2 data-aos="zoom-out">Harmonogram / Rezeracja<span class="sec-title-border"><span></span><span></span><span></span></span>
              </h2>
              <p data-aos="zoom-out">PROSIMY O DOKONYWANIE PRZEMYŚLANYCH REZERWACJI dla min 8-10 ZAWODNIKÓW dla boiska kauczukowego</p>
            </div>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center; min-height: 425px;">
          <div class="col-lg-12" id="harmonogram" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <div class="single-pricing-box" style="padding-top: 15px;">
              <div style="width: 100%; display: contents; position: relative;">
                    <app-harmonogram></app-harmonogram>
              </div>
            </div>
          </div>
        </div>
        <div id="zarezerwuj-button">
          <div class="row" style="width: 100%; height: 90px; margin-left: 0; margin-right: 0; position: relative;">
            <div class="col-lg-8 col-md-8 col-sm-12" data-aos="zoom-in-left"
              style="height: 100%; display: flex; align-items: center; justify-content: flex-end;">
              <h4 style="color: white; line-height: normal; padding-left: 0;">Chcesz zarezerwować boisko ?<br>Kliknij
                przycisk i wypełnij dane.</h4>
            </div>
            <div data-aos="zoom-in-left" class="col-lg-4 col-md-4 col-sm-12"
              style="height: 100% ;display: flex; justify-content: end; align-items: center;">
              <a id="btn-zarezerwuj" href="/rezerwacja" class="appao-btn">Zarezerwuj</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- team section start -->
  <section class="team-area ptb-90" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sec-title">
            <h2 data-aos="zoom-out">Regulamin korzystania z obiektu<span
                class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p> -->
          </div>
        </div>
      </div>
      <ol type="1">
        <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="0" style="margin-top: 15px; font-weight: bold; font-size: 18px; margin-bottom: 5px;">Do podstawowych obowiązków użytkownika należy:</li>
        <ol type="1">
          <ul style="list-style: initial; font-size: 16px;">
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="0">przestrzeganie postanowień niniejszego regulaminu,</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="100">stosowanie się do poleceń animatora (instruktora),</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="200">korzystanie z obiektu i jego urządzeń zgodnie z ich przeznaczeniem,</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="300">dokonanie wpisu w księdze użytkowników i okazanie na żądanie rejestrującego dokumentu tożsamości,</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="400">przestrzeganie zasad współżycia społecznego, a w rywalizacji sportowej zasady fair play,</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="500">niezwłoczne informowanie animatora o wszelkich uszkodzeniach urządzeń, kontuzjach i innych zdarzeniach
              mogących mieć wpływ na bezpieczeństwo użytkowników,</li>
            <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="600">przestrzeganie przepisów BHP i ppoż. oraz porządku, czystości i zasad estetyki na terenie całego obiektu
              i w jego bezpośrednim otoczeniu; na ORLIKU nie wolno pozostawiać żadnych śmieci.</li>
          </ul>
        </ol>
        <li data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="0" style="margin-top: 15px; font-weight: bold; font-size: 18px; margin-bottom: 5px;">Na terenie obiektu obowiązuje bezwzględny zakaz:</li>
        <ol type="1">
          <ul style="list-style: initial; font-size: 16px;">
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="0">spożywania alkoholu, środków odurzających lub innych podobnie działających substancji,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="100">palenia papierosów, żucia gumy,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="200">wnoszenia i łuskania ziaren słonecznika itp.</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="300">wnoszenia materiałów i przedmiotów niebezpiecznych: butelek, puszek, kubków itp. wykonanych z kruchego,
              pękającego lub twardego materiału,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="400">wprowadzania zwierząt,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="500">dopuszczania się zachowań stwarzających zagrożenie dla innych użytkowników,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="600">poruszania się na rowerach, rolkach, deskorolkach i innym sprzęcie mogącym spowodować uszkodzenie
              nawierzchni
              boisk,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="700">niszczenia trawy i parkowania rowerów wokół ogrodzenia,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="800">przeszkadzania w zajęciach lub grze,</li>
            <li  data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="35" data-aos-delay="900">zakłócania porządku i używania wulgarnych słów.</li>
          </ul>
        </ol>
      </ol>
    </div>
  </section>
  <!-- team section end -->
  <!-- counter section start -->
  <section class="counter-area ptb-90" id="blog">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="sec-title">
              <h2 data-aos="zoom-out" style="color: white;">Kontakt<span class="sec-title-border"><span></span><span></span><span></span></span>
              </h2>
              <p data-aos="zoom-out">Osoby chcące się skontaktować, proszone są o kontakt w godzinach otwarcia obiektu sportowego.</p>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6 col-sm-6" style="overflow: hidden;">
          <div class="single-counter-box" data-aos="fade-right" style="overflow: hidden;">
            <i class="icofont icofont-phone"></i>
            <h1 style="font-size: 30px;"><span class="">403-234-136</span></h1>
            <p>Telefon</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6" style="overflow: hidden;">
          <div class="single-counter-box" data-aos="fade-left" style="overflow: hidden;">
            <i class="icofont icofont-email"></i>
            <h1 style="font-size: 30px;"><span class="">orlik.makow@gmail.com</span></h1>
            <p>Email</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter section end -->

  <!-- footer section start -->
  <footer class="footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-area">
            <p>&copy;
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icofont icofont-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- footer section end -->
  <a href="#" class="scrollToTop">
    <i class="icofont icofont-arrow-up"></i>
  </a>

  <!-- jquery main JS -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Slick nav JS -->
  <script src="assets/js/jquery.slicknav.min.js"></script>
  <!-- Slick JS -->
  <script src="assets/js/slick.min.js"></script>
  <!-- owl carousel JS -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Popup JS -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Counter JS -->
  <script src="assets/js/jquery.counterup.min.js"></script>
  <!-- Counterup waypoints JS -->
  <script src="assets/js/waypoints.min.js"></script>
  <!-- YTPlayer JS -->
  <script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
  <!-- jQuery Easing JS -->
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <!-- Custom map JS -->
  <script src="assets/js/custom-map.js"></script>
  <!-- WOW JS -->
  <script src="assets/js/wow-1.3.0.min.js"></script>
  <!-- Switcher JS -->
  <script src="assets/js/switcher.js"></script>
  <!-- main JS -->
  <script src="assets/js/main.js"></script>
</body>